* {
    red:                         #bc0013;
    blue:                        #0f49c6;
    green:                       #49b117;
    cyan:                        #6fa497;
    lightfg:                     #f8dbc0;
    lightbg:                     rgba( 5, 4, 4, 75% );
    foreground:                  #cdc3bf;
    background: transparent;
    background-color:            rgba( 30, 28, 68, 75% );
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
