* {
    red:                         #f43841;
    blue:                        #96a6c8;
    green:                       #73c936;
    cyan:                        #95a99f;
    lightfg:                     #f5f5f5;
    lightbg:                     rgba( 69, 61, 65, 75% );
    foreground:                  #f4f4ff;
    background: transparent;
    background-color:            rgba( 24, 24, 24, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
