* {
    red:                         #cf6a4c;
    blue:                        #7587a6;
    green:                       #8f9d6a;
    cyan:                        #afc4db;
    lightfg:                     #c3c3c3;
    lightbg:                     rgba( 50, 53, 55, 75% );
    foreground:                  #a7a7a7;
    background: transparent;
    background-color:            rgba( 30, 30, 30, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
