* {
    red:                         #dd464c;
    blue:                        #1290bf;
    green:                       #8fc13e;
    cyan:                        #149b93;
    lightfg:                     #d5d3d5;
    lightbg:                     rgba( 67, 59, 66, 75% );
    foreground:                  #b9b5b8;
    background: transparent;
    background-color:            rgba( 50, 41, 49, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
