* {
    red:                         #d01b24;
    blue:                        #2075c7;
    green:                       #6bbe6c;
    cyan:                        #259185;
    lightfg:                     #e9e2cb;
    lightbg:                     rgba( 0, 39, 49, 75% );
    foreground:                  #aec2ba;
    background: transparent;
    background-color:            rgba( 0, 30, 38, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
