* {
    red:                         #b87a7a;
    blue:                        #7a7ab8;
    green:                       #7ab87a;
    cyan:                        #7ab8b8;
    lightfg:                     #d9d9d9;
    lightbg:                     rgba( 0, 0, 0, 75% );
    foreground:                  #acacac;
    background: transparent;
    background-color:            rgba( 13, 25, 38, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
