* {
    red:                         #ee2e24;
    blue:                        #009ddc;
    green:                       #00853e;
    cyan:                        #85cebc;
    lightfg:                     #e7e7e8;
    lightbg:                     rgba( 28, 63, 149, 75% );
    foreground:                  #d9d8d8;
    background: transparent;
    background-color:            rgba( 35, 31, 32, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
