* {
    red:                         #ff4242;
    blue:                        #66b0ff;
    green:                       #59f176;
    cyan:                        #0ef0f0;
    lightfg:                     #e0e0ff;
    lightbg:                     rgba( 32, 32, 74, 75% );
    foreground:                  #d0d0fa;
    background: transparent;
    background-color:            rgba( 0, 0, 42, 75% );
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
