* {
    red:                         #f2241f;
    blue:                        #4f97d7;
    green:                       #67b11d;
    cyan:                        #2d9574;
    lightfg:                     #e8e8e8;
    lightbg:                     rgba( 40, 40, 40, 75% );
    foreground:                  #a3a3a3;
    background: transparent;
    background-color:            rgba( 31, 32, 34, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
