* {
    red:                         #ea6962;
    blue:                        #7daea3;
    green:                       #a9b665;
    cyan:                        #89b482;
    lightfg:                     #ebdbb2;
    lightbg:                     rgba( 42, 40, 39, 75% );
    foreground:                  #ddc7a1;
    background: transparent;
    background-color:            rgba( 32, 32, 32, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
