* {
    red:                         #f2777a;
    blue:                        #6699cc;
    green:                       #99cc99;
    cyan:                        #66cccc;
    lightfg:                     #e8e6df;
    lightbg:                     rgba( 57, 57, 57, 75% );
    foreground:                  #d3d0c8;
    background: transparent;
    background-color:            rgba( 45, 45, 45, 75% );
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
