* {
    red:                         #c41a15;
    blue:                        #0000ff;
    green:                       #007400;
    cyan:                        #318495;
    lightfg:                     #404040;
    lightbg:                     rgba( 192, 192, 192, 75% );
    foreground:                  #404040;
    background: transparent;
    background-color:            rgba( 255, 255, 255, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
