* {
    red:                         #da4939;
    blue:                        #6d9cbe;
    green:                       #a5c261;
    cyan:                        #519f50;
    lightfg:                     #f4f1ed;
    lightbg:                     rgba( 39, 41, 53, 75% );
    foreground:                  #e6e1dc;
    background: transparent;
    background-color:            rgba( 43, 43, 43, 75% );
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
