* {
    red:                         #be4678;
    blue:                        #576ddb;
    green:                       #2a9292;
    cyan:                        #398bc6;
    lightfg:                     #e2dfe7;
    lightbg:                     rgba( 38, 35, 42, 75% );
    foreground:                  #8b8792;
    background: transparent;
    background-color:            rgba( 25, 23, 28, 75% );
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
