* {
    red:                         #ff8782;
    blue:                        #66b0ef;
    green:                       #95b659;
    cyan:                        #42bda7;
    lightfg:                     #bab9b6;
    lightbg:                     rgba( 48, 51, 55, 75% );
    foreground:                  #bab9b6;
    background: transparent;
    background-color:            rgba( 35, 38, 43, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
