* {
    red:                         #d7586e;
    blue:                        #4ed2d2;
    green:                       #59d678;
    cyan:                        #76dbd2;
    lightfg:                     #a5cbb9;
    lightbg:                     rgba( 33, 49, 50, 75% );
    foreground:                  #98c1a3;
    background: transparent;
    background-color:            rgba( 19, 31, 31, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
