* {
    red:                         #a88c62;
    blue:                        #c3a983;
    green:                       #dec8a7;
    cyan:                        #dec8a7;
    lightfg:                     #dec8a7;
    lightbg:                     rgba( 35, 27, 14, 75% );
    foreground:                  #c3a983;
    background: transparent;
    background-color:            rgba( 15, 11, 5, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
