* {
    red:                         #ff7b72;
    blue:                        #58a6ff;
    green:                       #3fb950;
    cyan:                        #a5d6ff;
    lightfg:                     #c9d1d9;
    lightbg:                     rgba( 33, 38, 45, 75% );
    foreground:                  #b1bac4;
    background: transparent;
    background-color:            rgba( 1, 4, 9, 75% );
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
