* {
    red:                         #c88c8c;
    blue:                        #537c9c;
    green:                       #99c899;
    cyan:                        #78b4b4;
    lightfg:                     #c3c3b4;
    lightbg:                     rgba( 49, 49, 49, 75% );
    foreground:                  #dedee7;
    background: transparent;
    background-color:            rgba( 34, 34, 34, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
