* {
    red:                         #db2d20;
    blue:                        #01a0e4;
    green:                       #01a252;
    cyan:                        #b5e4f4;
    lightfg:                     #d6d5d4;
    lightbg:                     rgba( 58, 52, 50, 75% );
    foreground:                  #a5a2a2;
    background: transparent;
    background-color:            rgba( 9, 3, 0, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
