* {
    red:                         #ee5396;
    blue:                        #33b1ff;
    green:                       #42be65;
    cyan:                        #3ddbd9;
    lightfg:                     #ffffff;
    lightbg:                     rgba( 38, 38, 38, 75% );
    foreground:                  #f2f4f8;
    background: transparent;
    background-color:            rgba( 22, 22, 22, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
