* {
    red:                         #ec5f67;
    blue:                        #6699cc;
    green:                       #99c794;
    cyan:                        #5fb3b3;
    lightfg:                     #cdd3de;
    lightbg:                     rgba( 52, 61, 70, 75% );
    foreground:                  #c0c5ce;
    background: transparent;
    background-color:            rgba( 27, 43, 52, 75% );
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
