* {
    red:                         #efa6a2;
    blue:                        #50cacd;
    green:                       #80c990;
    cyan:                        #c8c874;
    lightfg:                     #c0c0c0;
    lightbg:                     rgba( 69, 69, 69, 75% );
    foreground:                  #c0c0c0;
    background: transparent;
    background-color:            rgba( 16, 16, 16, 75% );;
    separatorcolor:              @lightbg;
    border-color:                @green;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @blue;
    selected-active-background:  @lightfg;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
    spacing:                     2;
}
